echo "# Agridiag" >> README.md 
git init 
git add README.md 
git commit -m "premier commit" 
git branch -M main 
git remote add origin https://github.com/degbedege4-cpu/Agridiag.git
 git push -u origin main
